server:
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
data:
  storage:
    endpoint: ""
    region: ""
    bucket: "ipfs-blocks-xxxx"
    accessKey: ""
    secretKey: ""
  db:
    type: LevelDB
    leveldb:
      path: ./db
    tikv:
      addrs:
        - 127.0.0.1:2379
  cache:
    lruSize: 64
    basePath: "./cache"
    indexPath: "./cache-index"
